<launch>
  <node pkg="reach" type="reach_pub.py" name="reach_pub" output="screen" />
  <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_filter">
    <param name="use_mag" value="true" />
    <param name="publish_tf" value="true" />
    <param name="publish_debug_topics" value="true" />

    <remap from="imu/data_raw" to="imu_raw" />
    <remap from="imu/mag" to="imu_mag" />
    <remap from="imu/data" to="imu" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find reach)/launch/rviz_layout.rviz"/>
</launch>
