<launch>
	<arg name="is_sim" default="true"/>
	
	<remap from="medium_out" to="/medium_out" />
    <remap from="medium_in" to="/medium_in" />
    <remap from="unregister_modems" to="/unregister_modems" />
    <remap from="register_modem" to="/register_modem" />
    <remap from="unregister_modem" to="/unregister_modem" />
    <remap from="registered_nodes" to="/registered_nodes" />
	
    <!-- The Buddy USBL -->   
    <group ns="buddy">
    	<node pkg="seatrac" type="seatrac_core" name="buddy_sim" output="screen">
			<!-- Core configuration -->
			<param name="comms_plugin" value="labust::seatrac::SeatracSim" if="$(arg is_sim)"/>
			<param name="comms_plugin" value="labust::seatrac::SeatracSerial" unless="$(arg is_sim)"/>
			<param name="controller_plugin" value="labust::seatrac::BuddyUSBL" />
			<rosparam param="listener_plugins">["labust::seatrac::StatusListener",
                   "labust::seatrac::NavListener",
                   "labust::seatrac::DataListener"]</rosparam>
            <!-- Serial parameters -->
            <param name="port_name" value="/dev/ttyUSB0" />
            <!-- Buddy USBL configuration -->
            <param name="is_master" value="true" />
            <param name="ping_rate" value="0" />
            <!-- NavListener setup -->
            <rosparam param="transponders">[1,2]</rosparam>
            <param name="use_ahrs" value="true" />
			<rosparam param="transponder_names">["surface","diver"]</rosparam>
			<!-- Simulation parameters -->
			<param name="sim_node_id" value="3" />
			<param name="sim_is_modem" value="false" />
			
            <!-- Module and handler remappings -->
            <!-- InitModule -->
            <remap from="acoustic_origin_ned" to="acoustic_origin_ned" />
            <remap from="acoustic_origin_llh" to="acoustic_origin_llh" />
            <!-- NavModule -->
			<remap from="agent_position_out" to="position" />
            <remap from="diver_position_out" to="diver/position" />
            <!-- PayloadModule -->
            <remap from="leak" to="leak" />
            <remap from="battery_status" to="battery_status" />
            <!-- StatusModule -->
            <!-- <remap from="command_outgoing" to="status_outgoing"/>
            <remap from="lawnmower_req" to="status_lawnmower_req"/>
            <remap from="photo_req" to="status_photo_req"/>
            <remap from="guide_target" to="status_guide_target"/> -->
            <!-- StatusModule (shorted to handler output) -->
            <remap from="command_outgoing" to="command"/>
            <remap from="lawnmower_req" to="lawnmower_req"/>
            <remap from="photo_req" to="photo_req"/>
            <remap from="guide_target" to="guide_target"/>
            
            <!-- SurfaceHandler/Nav -->
            <remap from="surface_diver_pos" to="surface/diver/position" />
            <remap from="surface_pos" to="surface/position" />
            <remap from="surface_acoustic_origin_in" to="acoustic_origin_in" />
            <!-- SurfaceHandler/Chat -->
            <remap from="surface_chat_text_in" to="surface/chat_text" />
            <remap from="surface_chat_predefined_in" to="surface/chat_predefined" />
            <!-- SurfaceHandler/Command -->
            <!-- <remap from="surface_command_in" to="surface/command" />
            <remap from="surface_command_lawnmower_req" to="surface/lawnmower_req" /> 
            <remap from="surface_command_photo_req" to="surface/photo_req" />
            <remap from="surface_command_guide_target" to="surface/guide_target" />
            -->
            <!-- SurfaceHandler/Command (shorted to common topics)-->
            <remap from="surface_command_in" to="command" />
            <remap from="surface_command_lawnmower_req" to="lawnmower_req" /> 
            <remap from="surface_command_photo_req" to="photo_req" />
            <remap from="surface_command_guide_target" to="guide_target" />
            
            <!-- DiverHandler/Nav -->
            <remap from="diver_pos" to="diver/position_partial" />
            <!-- DiverHandler/Payload -->
            <remap from="diver_payload" to="diver/payload" />
            <!-- DiverHandler/Chat -->
            <remap from="diver_chat_text_in" to="diver/chat_text" />
            <remap from="diver_chat_predefined_in" to="diver/chat_predefined" />
            <!-- DiverHandler/Command -->
            <!-- <remap from="diver_command_in" to="diver/command" />
            <remap from="diver_command_lawnmower_req" to="diver/lawnmower_req" />
            <remap from="diver_command_photo_req" to="diver/photo_req" />
            <remap from="diver_command_guide_target" to="diver/guide_target" /> -->
            <!-- DiverHandler/Command (shorted to common topics)-->
            <remap from="diver_command_in" to="command" />
            <remap from="diver_command_lawnmower_req" to="lawnmower_req" /> 
            <remap from="diver_command_photo_req" to="photo_req" />
            <remap from="diver_command_guide_target" to="guide_target" />
            
            <!-- Acoustic Simulator -->
            <remap from="navsts" to="position" />           
		</node>

		<!-- <node pkg="seatrac" type="static_beacon" name="buddy_pos">
			<rosparam param="position">[10.0,11.0,0.0]</rosparam>
			<rosparam param="orientation">[0.0,0.0,1.0]</rosparam>
		</node> -->
    </group>
</launch>
