<launch>
  <node name="object_tracker" pkg="sonar_image_processing" type="sonar_object_tracker_node">
  <param name="target_size" value="1000000" type="int" />
  <param name="max_connected_distance" value="100" type="int" />
  <param name="min_contour_size" value="100" type="int" />
  <param name="enable_visualization" value="true" type="bool" />
  <param name="reject_multiple_targets" value="true" type="bool" />
  <param name="range_only_distance" value="true" type="bool" />
  <param name="target_distance_threshold" value="1000" type="int" />
  </node>
  
</launch>
