<launch>
    <!-- The surface USBL -->
    <remap from="medium_out" to="/medium_out" />
    <remap from="medium_in" to="/medium_in" />
    <remap from="register_modem" to="/register_modem" />
    
    <group ns="surface">
    	<node pkg="seatrac" type="seatrac_core" name="surface_sim">
			<rosparam command="load" file="$(find seatrac)/launch/surface_usbl.yaml" />
			<remap from="navsts" to="position" />
		</node>
		<node pkg="seatrac" type="static_beacon" name="surface_pos">
			<rosparam param="position">[0.0,0.0,0.0]</rosparam>
		</node>
    </group>
    <!-- The diver modem -->
    <group ns="diver">
	<node pkg="seatrac" type="seatrac_core" name="diver_sim">
		<rosparam command="load" file="$(find seatrac)/launch/diver_modem.yaml" />
		<remap from="navsts" to="position" />
	</node>
	<node pkg="seatrac" type="static_beacon" name="diver_pos">
	    <rosparam param="position">[0.0,1.0,10.0]</rosparam>
	</node>
    </group>
 	<!-- The buddy USBL -->
 	<group ns="buddy">
 		<node pkg="seatrac" type="seatrac_core" name="buddy_sim">
			<rosparam command="load" file="$(find seatrac)/launch/buddy_modem.yaml" />
			<remap from="navsts" to="/buddy/position" />
		</node>
		<node pkg="seatrac" type="static_beacon" name="buddy_pos">
			<rosparam param="position">[5.0, 10.0, 8.0]</rosparam>
		</node>
 	</group>

	<node pkg="seatrac" type="ac_medium_sim" name="ac_medium" />
 	
 	<node pkg="rqt_gui" type="rqt_gui" name="debuger" 
 		args="--perspective-file $(find seatrac)/launch/seatrac_v2_debug.perspective" />
</launch>
